.App {
  text-align: center;
 
}

.each-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.question {
  text-align: left;
}

ul {
  text-align: left;
}

li {
  list-style-type: none;
}

input {
  margin-right: 10px;
}

.score {
  font-size: 20px;
  color: red;
}

.progress-bar {
  display: flex;
  justify-content:center;
}