.App {
  text-align: center;
 
}

.each-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul {
  text-align: left;
}

li {
  list-style-type: none;
}

input {
  margin-right: 10px;
}